<% books.each do |book| %>
  <div class="card mb-3" style= "margin-top: 2%">
    <div class="card-body">
      <%= render book %>
      <p>
        <%= link_to "Show this book", book, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
<% end %>

<div class="d-flex justify-content-center">
  <%= paginate books %>
</div>
  <!--added pagination in this books partial to paginate the search results-->