<% books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
    
  <% end %>
  
  <%= paginate books %> 
  <!--added pagination in this books partial to paginate the search results-->